html {
  box-sizing: border-box;
  color: $primary-color;
}
body{
				margin:0;
				padding: 0;
				overflow: hidden;
				background-color: black;
			}
			/* position absolut sprawi, że canvas nie będzie wpływała na rozmiar body i innych elementów DOM i dzięki temu nigdy nie pojawią się scrollbary a elementy typografii będą mogły być na wierzchu.*/
			canvas{
				position: absolute;
				top:0;
				left:0;
			}